#tj-module {
    position: fixed;
    z-index: 10;
    
    min-height: 400px;
    width: 400px;
    
    top: 50px;
    right: 0px;
    
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: black;
    box-shadow: -7px 5px 8px #555555;
    padding: 10px;
    
    background-color: #f5f5f5;
    
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
}

#tj-header {
    font-size: 30px;
    font-weight: bold;
    
    border-bottom: #c0c0c0 solid 1px;
    padding-bottom: 1px;
}

#tj-body {
    font-size: 25px;
    padding-top: 10px;
}

.tj-item {
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
}

.tj-name {
    float: left;
    max-width: 300px;
    
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tj-rating {
    float: right;
    text-align: right;
    color: white;
    
    min-width: 50px;
    
    border-radius: 3px;
    padding: 2px 7px;
}

.tj-undefined {
    color: #999999;
}

.neutral-rating {
    background: #999999;
}

.positive-rating {
    background: #5bb75b;
}

.negative-rating {
    background: #da4f49;
}

#loading{
    text-align: center;
}

#loading-image{
    height: 200px;
    width: 200px;
}